
!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => I18n.locale, :lang => I18n.locale}
  %head
    %title Goku E-Commerce
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "layouts/admin/navbar"
    .container-fluid
      .row
        %div{ class: "col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" }
        = yield